.contacts-info__wrapper {
    position: relative;
}
.contacts-info__wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #525252;
}
.contacts__title {
    margin: 0;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.contacts-info__title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.contacts-info__reserve-btn {
    font-size: 12px;
    line-height: 14px;
}
.contacts-info__social-item + .contacts-info__social-item {
    margin-top: 15px;
}
.contacts-info__social-list {
    margin-bottom: 25px;
    margin-left: 31px;
}
.contacts-info__social-link {
    position: relative;
}
.contacts-info__social-link::after {
    position: absolute;
    content: "";
}
.social-phone::after {
    background-image: url("../../img/social-phone.svg");
    top: -15px;
    left: -42px;
    width: 44px;
    height: 48px;
}
.social-mail::after {
    background-image: url("../../img/social-mail.svg");
    top: -14px;
    left: -44px;
    width: 47px;
    height: 47px;
}
.social-location::after {
    background-image: url("../../img/social-location.svg");
    top: -17px;
    left: -43px;
    width: 45px;
    height: 52px;
}
.contacts-info__reserve-btn {
    margin-bottom: 32px;
    padding: 13px 23px;
    border: 0;
    background-color: #CB3B48;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
}
.contact-info__messenger-list {
    display: flex;
    margin-bottom: 25px;
}
.contact-info__messenger-item + .contact-info__messenger-item {
    padding-left: 13px;
}
.contact-info__messenger-link {
    position: relative;
}
.contact-info__messenger-link::before {
    position: absolute;
    content: "";
}
.messenger-insta {
    background-image: url("../../img/insta.svg");
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}
.messenger-telega {
    background-image: url("../../img/telega.svg");
    width: 25px;
    height: 22px;
    top: 0;
    left: 0;
}
.messenger-viber {
    background-image: url("../../img/viber.svg");
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
}
.contacts-map__wrapper {
    text-align: center;
}
.contacts-map__map {
    margin-top: 27px;
    margin-bottom: 19px;
}
.contacts-map__map img {
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.5));
    border-radius: 15px;
}
.contacts-map__mode {
    margin: 0;
    padding-bottom: 24px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.contacts-map__mode span {
    padding-left: 13px;
    font-weight: 400;
}

@media (min-width: 600px) {
    .contacts .container {
        display: flex;
        justify-content: space-between;
    }
    .contacts-info__wrapper {
        flex: 50%;
    }
    .contacts-info__wrapper::after {
        width: 1px;
        height: 270px;
        top: 45px;
        right: 0;
    }
    .contacts-map__wrapper {
        flex: 50%;
        padding-left: 10px;
        margin-top: 42px;
        text-align: right;
    }
    .contacts-map__mode {
        margin-left: auto;
        width: 400px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .contacts-info__title,
    .contacts-map__mode {
        font-size: 14px;
        line-height: 18px;
    }
    .contacts-map__wrapper {
        padding-left: 30px;
    }
}
@media (min-width: 846px) {
    .contacts-map__wrapper {
        margin-top: 17px;
    }
}
@media (min-width: 1440px) {
    .contacts__title {
        padding-bottom: 51px;
        font-size: 48px;
        line-height: 56px;
    }
    .contacts-info__wrapper {
        flex: 32%;
    }
    .contacts-info__wrapper::after {
        height: 473px;
    }
    .contacts-info__title {
        padding-bottom: 30px;
    }
    .contacts-info__social-list {
        margin-left: 60px;
        margin-bottom: 44px;
    }
    .contacts-info__social-item + .contacts-info__social-item {
        margin-top: 29px;
    }
    .contacts-info__title,
    .contacts-info__social-link,
    .contacts-map__mode {
        font-size: 24px;
        line-height: 28px;
    }
    .contacts-map__mode {
        width: 616px;
    }
    .contacts-info__reserve-btn {
        padding: 14px 56px;
        font-size: 18px;
        line-height: 21px;
    }
    .contact-info__messenger-item + .contact-info__messenger-item {
        padding-left: 21px;
    }
    .social-phone::after {
        background-image: url("../../img/social-phone-desk.svg");
        top: -30px;
        left: -86px;
        width: 90px;
        height: 91px;
    }
    .social-mail::after {
        background-image: url("../../img/social-mail-desk.svg");
        top: -26px;
        left: -87px;
        width: 97px;
        height: 88px;
    }
    .social-location::after {
        background-image: url("../../img/social-location-desk.svg");
        top: -35px;
        left: -84px;
        width: 93px;
        height: 100px;
    }
    .contacts-map__map {
        margin-bottom: 51px;
    }
    .contacts-map__map img {
        max-width: 616px;
    }
}