.footer {
    background-color: #161615;
    background-image: url("../../img/footer-mask.png");
}
.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer__logo-img img {
    width: 145px;
    height: 32px;
}
.footer__phone {
    text-align: right;
}
.footer__phone-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #BD2D43;
}
.footer__phone-details {
    margin: 0;
    font-size: 6px;
    line-height: 7px;
    color: #5C5C5C;
}
.footer__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__nav-link {
    font-size: 9px;
    line-height: 11px;
    color: #DCDCDC;
}
.footer__social {
    margin-left: auto;
}
.footer__social-list {
    display: flex;
    padding-right: 5px;
    align-items: center;
}
.footer__social-list li {
    width: 100%;
    text-align: right;
}
.footer__social-item + .footer__social-item {
    margin-left: 20px;
}
.footer__social-link {
    position: relative;
    z-index: 1;
}
.footer__social-link::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    left: -6px;
    top: -6px;
    background: #101010;
    border-radius: 50%;
    z-index: -1;
}
.footer__additionally {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__additionally-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
}
.footer__additionally-link {
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-decoration-line: underline;
}
.footer__additionally-info {
    margin: 0;
    font-weight: 300;
    font-size: 9px;
    line-height: 10px;
}
@media (min-width: 600px) {
    .footer__inner {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-column-gap: 40px;
        padding-top: 34px;
        padding-bottom: 0;
    }
    .footer__logo,
    .footer__nav {
        grid-row: 1/-1;
    }
    .footer__nav-item {
        min-width: 70px;
    }
    .footer__additionally {
        display: flex;
        align-items: baseline;
    }
    .footer__additionally-list {
        margin-bottom: 0;
        grid-gap: 21px;
    }
}
@media (min-width: 768px) {
    .footer__nav-link {
        font-size: 10px;
        line-height: 16px;
    }
    .footer__phone-link {
        font-size: 14px;
        line-height: 18px;
    }
    .footer__additionally-link, 
    .footer__additionally-info {
        color: #9C9C9C;
    }
}
@media (min-width: 1440px) {
    .footer__inner {
        grid-column-gap: 123px;
    }
    .footer__logo-img img {
        width: 320px;
        height: 67px;
    }
    .footer__phone {
        margin-bottom: 14px;
    }
    .footer__phone-link {
        font-size: 24px;
        line-height: 28px;
    }
    .footer__phone-details {
        font-size: 12px;
        line-height: 14px;
    }
    .footer__nav-item {
        min-width: 140px;
        padding-bottom: 15px;
    }
    .footer__nav-link {
        padding-top: 15px;
        font-size: 16px;
        line-height: 19px;
    }
    .footer__additionally-link,
    .footer__additionally-info {
        font-size: 14px;
        line-height: 16px;
    }
}