.header {
    position: fixed;
    width: 100vw;
    max-width: 1600px;
    background-color: #222220;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 55px;
    padding-top: 7px;
    padding-bottom: 8px;
}
.header__logo {
    width: 174px;
    height: 38px;
}
.header__phone img, .menu__btn {
    padding: 9px;
    width: 40px;
    height: 40px;
    background-color: #1B1B1B;
    box-shadow: 0px 0px 12px rgba(189, 45, 67, 0.5);
    border-radius: 6.06061px;
    cursor: pointer;
}
.header__phone {
    margin-right: 23px;
    width: 40px;
    height: 40px;
    flex: 1;
    text-align: end;
}
.header__phone img:hover {
    background: #CB3B48;
    box-shadow: 0px 0px 15px rgba(189, 45, 67, 0.5);
    border-radius: 8px;
    transition: all 0.3s;
}
.header__user {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #CB3B48;
    box-shadow: 0px 0px 15px rgba(189, 45, 67, 0.5);
    border-radius: 7px;
    cursor: pointer;
}
.header__user:hover {
    background-color: #1B1B1B;
    box-shadow: 0px 0px 12px rgba(189, 45, 67, 0.5);
    transition: all 0.3s;
}
.menu__btn {
    display: block;
    padding: 0;
    border: none;
    outline: none;
}
.menu__btn-line {
    margin: 0 auto;
    height: 2px;
    background: #fff;
    border-radius: 3px;
}
.menu__btn-line + .menu__btn-line {
    margin-top: 5px;
}
.menu__btn-line.line-1,
.menu__btn-line.line-3 {
    width: 22px;
}
.menu__btn-line.line-2 {
    width: 15px;
}
.menu__popup {
    position: absolute;
    top: 55px;
    left: -10px;
    padding-top: 30px;
    padding-bottom: 80px;
    width: 100vw;
    text-align: center;
    background: rgba(27, 27, 27, 0.95);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.56);
    transform: translateX(150%);
    transition: all 0.5s;
    z-index: 10;
}
.menu__popup.is-active {
    transform: translateX(0%);
}
.menu__list {
    padding-bottom: 42px;
    font-size: 20px;
    line-height: 23px;
    color: #DCDCDC;
}
.menu__item + .menu__item {
    margin-top: 27px;
}
.menu__reservation {
    margin: 0 auto;
    padding: 18px 10px;
    width: 94%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #CB3B48;
    border: none;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    cursor: pointer;
}
.menu__reservation:hover {
    color: #CB3B48;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: all 0.3s;
}
.menu-desk__nav,
.header__reservation,
.header__user {
    display: none;
}

@media (min-width: 768px) {
    .header__wrapper {
        padding-top: 10px;
        padding-bottom: 11px;
    }
    .menu__popup {
        top: 61px;
        left: -30px;
    }
    .menu__reservation {
        width: 60%;
    }
}
@media (min-width: 1024px) {
    .menu {
        display: none;
    }
    .header {
        box-shadow: none;
    }
    .header__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header__wrapper picture {
        flex: 1;
    }
    .header__logo img {
        width: 205px;
        height: 44px;
    }
    .header__reservation {
        display: block;
        padding: 15px 18px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background: #CB3B48;
        border: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header__reservation:hover {
        color: #CB3B48;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        transition: all 0.3s;
    }
    .header__user {
        display: block;
        margin-right: 16px;
        width: 50px;
        height: 50px;
    }
    .header__phone {
        margin-right: 16px;
        flex: 0;
        width: 50px;
        height: 50px;
    }
    .header__phone img {
        width: 50px;
        height: 50px;
    }
    /* dropdown */
    .menu-desk__nav {
        display: flex;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu-desk__nav a {
        float: left;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: all 0.3s;
    }
    .menu-desk__nav a:hover,
    .dropdown a:hover {
        color: #CB3B48;
    }
    .dropdown {
        display: flex;
        float: left;
        overflow: hidden;
    }
    .dropdown__btn {
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-size: 18px;
        line-height: 21px;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }
    .dropdown__content {
        display: none;
        position: absolute;
        top: 72px;
        padding: 10px;
        min-width: 172px;
        min-height: 72px;
        background-color: #222220;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        z-index: 1;
    }
    .dropdown__content a {
        padding: 11px 5px;
        text-decoration: none;
        display: block;
        text-align: left;
        float: none;
        color: #FFFFFF;
        border-bottom: 1px solid #2F2F2F;
    }
    .dropdown__content a:last-child {
        border: none;
    }
    .dropdown-content a:hover,
    .dropdown__btn:hover {
        color: #CB3B48;
    }
    .dropdown:hover .dropdown__content {
        display: block;
    }
}
@media (min-width: 1440px) {
    .header__wrapper {
        padding-top: 34px;
    }
    .header__logo img {
        width: 237px;
        height: 51px;
    }
    .menu-desk__nav {
        margin-right: 40px;
    }
    .dropdown__content {
        top: 80px;
    }
}
